html, body {
    margin: 0px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
}

div.header {
    background-color: rgb(188, 188, 188, 0.5);
    height: 200px;
    margin-top: -40px;
}

p.sitename {
    font-size: 40px;
    color: goldenrod;
    font-weight: bolder;
    margin-left: 20px;
}
p.info {
    font-size: 20px;
    width: 900px;
    height: auto;
    text-align: left;
    font-style: oblique;
    font-family: fantasy;
    margin-top: -15px;
    margin-left: 20px;
}

img.logo {
    height: 210px;
    width: auto;
    margin-left: 1057px;
    margin-top: -500px;
}